[submodule "Noz/vendor/glfw"]
	path = Noz/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Noz/vendor/glm"]
	path = Noz/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Noz/vendor/fmt"]
	path = Noz/vendor/fmt
	url = https://github.com/fmtlib/fmt.git
