[submodule "Noz/vendor/glfw"]
	path = Noz/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Noz/vendor/glm"]
	path = Noz/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Noz/vendor/fmt"]
	path = Noz/vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Noz/vendor/imgui"]
	path = Noz/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Noz/vendor/bgfx"]
	path = Noz/vendor/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "Noz/vendor/bx"]
	path = Noz/vendor/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "Noz/vendor/bimg"]
	path = Noz/vendor/bimg
	url = https://github.com/bkaradzic/bgfx.git
